table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 30px;
  text-align: center;
}

tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  border-style: dotted;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.caption {
  border: 1px solid black;
  border-collapse: collapse;
  border-style: dotted;
  color: red;
}
th {
  border: 1px solid black;
  border-collapse: collapse;
  color: #041efc;
  border-style: dotted;
}

.row3 {
  color: #d604fc;
}
